.todoListMain .header input {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid black;
  width: 200px;
  border-radius: 5px;
  margin-left: -8px;
}
  
.todoListMain .header button {
  border-color: black;
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 5px;
}


.todoListMain .list {
  padding: 10px;
  list-style: none;
  padding-left: 0;
  width: 275px;
  margin:  auto;
} 

.todoListMain .list li {
  background-color: white;
  border-color: black;
  border-style: solid;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  }

.todoListMain .done {
    color: limegreen;
}

.todoListMain .undone {
  color: red;
  text-decoration: line-through;
}

